<h1>Post List</h1>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#Id</th>
      <th>User Id</th>
      <th>Post Id</th>
      <th>Title</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempData of postsArray; index as num">
      <td>{{num+1}}</td>
      <td>{{tempData.id}}</td>
      <td>{{tempData.userId}}</td>
      <td>{{tempData.title}}</td>
      <td>
        <button mat-raised-button color="primary" style="text-wrap: nowrap;" (click)="showData(tempData)">Show Body</button>
      </td>
    </tr>
  </tbody>
</table>